<div class="navbar-logo">
    <a href='/'>
        <h3>
            socialcube
        </h3>
    </a>
</div>
<header class="navbar" id="navbar">
    <div class="navbar-links">
        <a href="/" class="nav-item is-active" data-nav='/'>
            <div>
                <i data-icon='explore'></i>
                <span>
                    Explorar
                </span>
            </div>
        </a>
        <a href="/login" class="nav-item" data-nav='/login'>
            <div>
                <i data-icon='chat'></i>
                <span>
                    Messages
                </span>
            </div>
        </a>
        <a href="/perfil" class="nav-item" data-nav='/perfil'>
            <div>
                <i data-icon='face'></i>
                <span>
                    Mi perfil
                </span>
            </div>
        </a>
    </div>
</header>