{% extends '@layout/default.twig' %}

{% set viewNav = 'false' %}
{% set title = 'Error 404' %}

{% block content %}
<div class="container has-top-margin">
    <div class="e404 text:center">
        <h1 class="e404-title">
            404
        </h1>
        <p class="e404-subtitle">
            Estás orbitando por páginas desconocidas
        </p>
        <br>
        <div class="align:center">
            <a class="button is-primary" href="{{BASE_URL}}">Volver a tierra</a>
        </div>
    </div>
</div>

{% endblock %}