{% extends '@layout/default.twig' %}

{% set title = 'Inicio' %}

{# body #}
{% block content %}
<div class="container has-top-margin">
	{% include '@components/posts/new.twig' %}
    {% include '@components/posts/posts.twig' with {posts: posts} %}
</div>
{% endblock %}