{% extends '@layout/default.twig' %}
{% set viewNav = 'false' %}

{% set title = 'Nueva contrase単a' %}
{% block content %}

<div class="container has-top-margin">
    <form action="{{BASE_URL}}validate-new-password" class="register" method="POST">
        <h1>Nueva contrase単a</h1>
        <div class="field">
            <label class="label">Email</label>
            <input name="email" value="{{data.user_email}}" type="text" class="input is-text" disabled>
        </div>
        <div class="field">
            <label class="label">Escribe tu nueva contrase単a</label>
            <input name="password" type="password" class="input is-text">
        </div>
        <div class="field">
            <label class="label">Confirmar nueva contrase単a</label>
            <input name="repeat-password" type="password" class="input is-text">
        </div>
        <div class="field mg-top:lg">
            <button class="button is-primary is-fullwidth" type="submit">
                <i data-icon='&#xe174'></i> Enviar
            </button>
        </div>
        <hr>

        <p class="text:center" style="color:red">{{ errors['password'] }}</p>
    </form>

</div>

{% endblock %}