{% extends '@layout/default.twig' %}

{% set title = 'Crear Post'  %}

{% block content %}

<div class="container has-top-margin">

    <form method="POST" action="{{BASE_URL}}user/save" class="register">
        <h1>Crear nuevo post</h1>
        <div class="grid:2 gap">
            <div>
                <label class="label">Nombre</label>
                <input autocomplete="off" name="name" type="text" class="input">
            </div>
            <div>
                <label class="label">Apellidos</label>
                <input autocomplete="off" name="surname" type="text" class="input">
            </div>
            <div>
                <label class="label">Username</label>
                <input autocomplete="off" name="username" type="text" class="input">
            </div>
            <div>
                <label class="label">Correo electronico</label>
                <input name="email" type="email" class="input is-text">
            </div>
            <div>
                <label class="label">Contrase침a</label>
                <input name="password" type="password" class="input">
            </div>
            <div>
                <label class="label">Repita contrase침a</label>
                <input name="repeat-password" type="password" class="input">
            </div>
        </div>
        <div class="field mg-top:lg">
            <button class="button is-primary is-fullwidth" type="submit">
                <i data-icon='&#xe174'></i> Registrase ahora
            </button>
        </div>
        <hr>

        <p class="text:center">
            Para mas informaci칩n lee <a href="{{BASE_URL}}post/info">c칩mo funcionan los posts</a>
        </p>
    </form>
</div>
{% endblock %}
