{% extends '@layout/default.twig' %}

{% set title = 'Post - Content' %}

{% block content %}
<div class="container has-margin">
    {% include '@components/post/content.twig' %}
</div>
{% endblock %}