{% extends '@layout/default.twig' %}

{% set title = 'Crear Post'  %}

{% block content %}

<div class="container has-top-margin">

    <form method="POST" action="{{BASE_URL}}new" class="register" data-swup-form>
        <h3 class="text:center">Crear nueva publicacion</h3>
        <hr>
        <div class="field">
            <textarea class="textarea" placeholder="Escribe algo..." name="content" required></textarea>
        </div>

        {% if input('type') == 'secret' %}
            <div class="field">
                <label class="label">Descripcion de la contraseña</label>
                <input autocomplete="off" name="description" type="text" class="input" required>
            </div>

            <div class="field">
                <label class="label">Contraseña</label>
                <input autocomplete="off" name="secret" type="text" class="input" required>
            </div>
            
            <input type="hidden" name="type" value="secret">
        {% else %}
            <input type="hidden" name="type" value="public">
        {% endif %}

        <div class="field">
            <button class="button is-primary is-fullwidth">
                Publicar
            </button>
        </div>

        <hr>

        <p class="text:center">
            Para mas información lee <a href="{{BASE_URL}}post/how-it-works">como funcionan los posts</a>
        </p>
    </form>
</div>
{% endblock %}
