{% extends '@layout/default.twig' %}

{% set title = 'Perfil' %}

{% block content %}
<div class="container has-top-margin">
    <div class="user">
        <div class="user__container">
            <div class="user__block">
                <img src="https://images.unsplash.com/photo-1618224706414-92301b84910d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="" class="user__image">
            </div>
            <div class="user__block">
                <div class="user__row">
                    <span class="user__name">
                        {{user.name ~ ' ' ~ user.surname}}
                    </span>
                    <div class="user__buttons">
                        <a href="/" class="user__button">Enviar mensaje</a>
                        <a href="/" class="user__button">
                            <i data-icon="person"></i>
                            <i data-icon="done"></i>
                        </a>
                        <a href="/" class="user__button"><i data-icon="keyboard_arrow_down"></i></a>
                        {# <button href="/" class="user__button user__button--menu">Enviar mensaje</button> #}
                    </div>
                </div> 
                <div class="user__row user__socials">
                    <div class="user__social">
                        <span class="user__date">445</span>
                        <p class="user__text">publicaciones</p>
                    </div>
                    <div class="user__social">
                        <span class="user__date">10.4m</span>
                        <p class="user__text">Seguidores</p>
                    </div>
                    <div class="user__social">
                        <span class="user__date">214</span>
                        <p class="user__text">Seguidos</p>
                    </div>
                </div>
                <div class="user__row">
                    <p class="user__paragraph">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit massa neque fringilla odio, euismod class suscipit netus malesuada porta aptent pellentesque vivamus venenatis potenti, phasellus placerat molestie pulvinar cubilia commodo posuere integer arcu curabitur. Duis libero augue vivamus auctor ad ante dictumst eu non class phasellus orci imperdiet, luctus laoreet gravida mus metus massa nulla tempus magna tempor molestie. Nibh scelerisque curabitur conubia odio a netus iaculis consequat ut eget, volutpat turpis orci tellus placerat ligula pellentesque posuere velit quam libero, enim egestas fermentum tempor vestibulum quis tincidunt neque ultricies.
                    </p>
                </div>
            </div>
        </div>
        <div class="user__container">
            <div class="posts">
                {% include '@components/posts/post.twig' with {post: post} %}
            </div>
        </div>
    </div> 
</div>
{% endblock %}