{% extends '@layout/default.twig' %}
{% set viewNav = 'false' %}

{% set title = 'Login' %}
{% block content %}
<div class="container has-top-margin">
    <form action="{{BASE_URL}}recover-password" class="register" method="POST">
        <h1>Reestablecer contraseña</h1>
        <div class="field">
            <label class="label">Email</label>
            <input name="email" type="email" class="input is-text">
        </div>
        <div class="field mg-top:lg">
            <button class="button is-primary is-fullwidth" type="submit">
                <i data-icon='&#xe174'></i> Enviar
            </button>
        </div>
        <hr>

        <p class="text:center" style="color:red">{{ errors['true'] }}</p>

        <p class="text:center">
            ¿No tienes una cuenta? <a href="./signup">Registrate aquí</a>
        </p>
    </form>

</div>

{% endblock %}