{% extends '@layout/default.twig' %}
{% set viewNav = 'false' %}

{% set title = 'Recuperar contraseña' %}
{% block content %}
<div class="container has-top-margin">
    <form action="{{BASE_URL}}validate-token" class="register" method="POST">
        <h1>Código para reestablecer contraseña</h1>
        <p class="text:warning">
            Se ha enviado un enlace a tu correo electrónico para reestablecer tu contraseña
            por favor escribe el código en el campo que se muestrar abajo.
        </p>
        <div class="field">
            <label class="label">Escribe el cógio para reestablecer la contraseña</label>
            <input autocomplete="off" name="token" type="text" class="input is-text">
        </div>
        <div class="field mg-top:lg">
            <button class="button is-primary is-fullwidth" type="submit">
                <i data-icon='&#xe174'></i> Enviar
            </button>
        </div>
        <hr>

        <p class="text:center" style="color:red">{{ errors['token'] }}</p>
        <h3 class="text:center" style="color:green">{{ errors['false'] }}</h3>
    </form>

</div>

{% endblock %}