{% extends '@layout/default.twig' %}

{% set title = 'Inicio' %}

{% block content %}
<div class="container has-top-margin">
	<div class="box-container box">
		{% include "@components/posts/user.twig" %}
		
		<p>
			{{litemoji(post.content)|raw}}
		</p>

		{% include "@components/posts/buttons.twig" %}

	</div>
	<div class="comments box-container box mg-top:lg">
		<div>Comentarios: 0</div>
		<hr>
	</div>
</div>
{% endblock %}