{# lista de contactos #}
<ul class="message__list">
    {# contacto #}
    <li class="message__item active">
        {# imagen de contacto #}
        <div class="message__image">
            <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80" alt="" class="image">
        </div>
        {# contenido de contacto #}
        <div class="message__content">
            {# nombre de contacto #}
           <span class="message__name">Fernando</span>
           {# ultimo mensaje recibido como previsualizacion #}
           <p class="message__msg">Hola como estas?</p> 
        </div>
        {# tiempo de la realizacion del mensaje #}
        <span class="message__time">2:30 pm</span>
    </li>
    <li class="message__item">
        <div class="message__image">
            <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=464&q=80" alt="" class="image">
        </div>
        <div class="message__content">
           <span class="message__name">Alejandra</span>
           <p class="message__msg">Muchas gracias, amigo</p> 
        </div>
        <span class="message__time">5:04 am</span>
    </li>
    <li class="message__item">
        <div class="message__image">
            <img src="https://images.unsplash.com/photo-1504439904031-93ded9f93e4e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1472&q=80" alt="" class="image">
        </div>
        <div class="message__content">
           <span class="message__name">Maria</span>
           <p class="message__msg">Como te ha ido hoy</p> 
        </div>
        <span class="message__time">11:20 pm</span>
    </li>
</ul>