{# 
message__send -- mensajes enviados
message__received -- mensajes recibidos
#}
<span class="message__send">Hola Fernando</span>
<span class="message__received">Hola</span>
<span class="message__received">Como va el desarrollo del la interface del chat?</span>
<span class="message__send">Hasta el momento casi completo</span>
<span class="message__send">Solo faltas unos eventos para el usuario</span>
<span class="message__received">Ok, que bien que ya casi terminas la interface</span>
<span class="message__send">Espero el backend no este demasiado complejo xd</span>
<span class="message__received">No importa cuanto demora</span>
<span class="message__received">De alguna forma se intentara resolver</span>



