<div class="post">
    <h2>
        Nombre
    </h2>
    <p>
        Descripcion
    </p>
    <form action="">
        <div class="field">
            <input type="text" class="input">
        </div>
    </form>
</div>