<div class="posts gap">
    {% for post in posts %}
        {% include '@components/posts/post.twig' %}
    {% endfor %}
    {% if posts|length == 0 %}
        <div class="text:center opacity:1">
            Aun no se ha publicado nada :(
        </div>
    {% endif %}
</div>