<div class="modal" id="modal-1" aria-hidden="true">
    <div class="modal-overlay" tabindex="-1" data-micromodal-close="">
        <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal-header">
                <h2 class="modal-title" id="modal-1-title">Desbloquear</h2> 
                <button class="modal-close" aria-label="Close modal" data-micromodal-close=""></button>
            </header>

            <div class="modal-content" id="modal-1-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit cum iure saepe!
                </p>
                <form>
                    <div class="field">
                        <input type="text" class="input" placeholder="Escriba la contraseña">
                    </div>
                </form>
            </div>
            
            <footer class="modal__footer"> 
                <button class="button is-primary">
                    <i data-icon="lock_open"></i>
                    Continuar
                </button>
                <button class="button is-danger" data-micromodal-close="" aria-label="Close this dialog window">
                    <i data-icon="cancel"></i>
                    Cerrar
                </button>
            </footer>
        </div>
    </div>
</div>

<div class="post">
    {% include "@components/posts/user.twig" %}

    {% if post.isSecret %}
        <p class="post-description opacity:1">
            {{post.description}}
        </p>
        <button class="post-lock" onclick="MicroModal.show('modal-1');">
            <i data-icon="lock"></i>
            Desbloquear
        </button>
    {% else %}
        <a href="{{BASE_URL}}p/{{hashid(post.id)}}">
            <p class="post-description">
                {{post.content}}
            </p>
        </a>
    {% endif %}
    
    {% include "@components/posts/buttons.twig" %}
</div>